node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
build/
dev/cancer-types.json
dev/index.html
dev/indexed.json
dev/main.css
dev/test1.png
dev/testicular.json
dev/watcher.js

.bsb.lock
lib/
src/*.bs.js