.buttons {
  height: var(--s);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: bisque;
}
.buttons div {
  position: relative;
  text-align: center;
  width:100%;
}

.note-names {
  --d: 100px; /* image size */
  --r: calc((var(--s) - var(--d))/2); /* radius */
  position: absolute;
  width: var(--s); height: var(--s);
}

.note-names a {
  $number: calc(-1 * var(--az));
  --az: calc(var(--i)*1turn/var(--m));
  position: absolute;
  top: 50%; left: 50%;
  margin: calc(-.5*var(--d));
  width: var(--d);
  height: var(--d);
  background-color: aquamarine;
  opacity: 50%;
  transform:
          rotate(var(--az))
          translate(var(--r))
          rotate($number)
}

