:root {
  --bg: #000000;
  --ll: #e5e5e5;
  --hl: #fca311;
  --pl: #ffffff;
}
body {
  background-color: var(--bg);
}

path{
  pointer-events: auto;
}

.buttons {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttons button {
  font-size: var(--f);
  margin: 10px auto;
  border: 1px solid var(--ll);
  color: var(--ll);
  background-color: var(--bg);
  border-radius:0.12em;
}

.buttons button:hover {
  color: var(--bg);
  background-color: var(--ll);
}
.buttons button:active {
  border: 1px solid var(--hl);
  background-color: var(--hl);
}

.necklace {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  margin: 1px;
}

.necklace svg {
  left: 0;
  top: 0;
  height: 100px;
  width: 100px;
  position: absolute;
  overflow: visible;
}
 .svg {
   overflow: visible;
 }

.note-names {
  --d: calc(var(--s)/10); /* image size */
  --r: calc((var(--s) - var(--d))/2); /* radius */
  width: var(--s); height: var(--s);
  position: absolute;
  top: 0;
  left: 0;
}

.note-names a {
  $number: calc(-1 * var(--az));
  --az: calc((var(--i)*1turn/var(--m)) - .25turn);
  position: absolute;
  margin: calc(-.5*var(--d));
  width: var(--d);
  height: var(--d);
  line-height: var(--d);
  font-size: var(--f);
  color: var(--c);
  text-align: center;
  pointer-events: none;
  transform:
          rotate(var(--az))
          translate(var(--r))
          rotate($number)
}

