.buttons {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttons div {
  font-size: var(--f);
  position: relative;
  text-align: center;
}

.necklace {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
}

.necklace svg {
  left: 0;
  top: 0;
  position: relative;
  overflow: visible;
}

.note-names {
  --d: calc(var(--s)/4); /* image size */
  --r: calc((var(--s) - var(--d))/2); /* radius */
  width: var(--s); height: var(--s);
  position: absolute;
  top: 0;
  left: 0;
}

.note-names a {
  $number: calc(-1 * var(--az));
  --az: calc(var(--i)*1turn/var(--m));
  position: absolute;
  margin: calc(-.5*var(--d));
  width: var(--d);
  height: var(--d);
  line-height: var(--d);
  font-size: var(--f);
  text-align: center;
  transform:
          rotate(var(--az))
          translate(var(--r))
          rotate($number)
}

